@model movieEngine.Web.Models.TicketsMovieViewModel;
@{

    ViewData["Title"]="Buy Tickets for " + Model.Movie.Title;
}

@section styles{
    <style>
        .body-text--padded{
        margin: 5px 10px;
    }
    .movie-image{
        width: 10em;
    }
    .showing{
        border: 1px solid #555;
        border-radius: 5px;
        background-color: #efefef;
        margin: 0.1em;
        width: 23%;
    }
    </style>
}
<div class="movie body-text--padded">
<h1 class="">Tickets for @Model.Movie.Title</h1>
<img class="movie-image"
     src="@Model.Movie.ImagePath">
</div>

<hr/>
<div class="row body-text--padded">
@foreach(var showing in Model.Showings)
{
    <div class="col-md-3 showing">

        <h3>@showing.StartTime.ToString() | Theater @showing.TheaterId</h3>
        <p>@showing.AvailableSeats seats left</p>
    </div>
}
</div>